DATABASE_URL=yourPostgreSQLUrl

SMTP_HOST=your_email_host
SMTP_PORT=your_email_port
SMTP_USER=your_email_user
SMTP_PASS=your_email_password

JWT_SECRET=your_jwt_secret

FRONTEND_URL=http://localhost:3000